.hex0rwindow {
    background-color: #F2F2F2;
    font-family: monospace;
    padding: 0;
    width: 600px;
    vertical-align: middle;
}

.hex0rwindow_table {
    border-collapse: collapse;
    border: 1px solid grey;
    caption-side: bottom;
}

.hex0rwindow_table caption {
    margin-top: 3px;
    margin-bottom: 3px;
}


.hex0rwindow_offset {
    background: #A2A2A2;
    padding-right: 0;
}

.hex0rwindow_visual {
    background: #F9F9F9;
    margin-left: 15px;
}

.hex0rwindow_visual_first {
    background: #F9F9F9;
    padding-left: 15px;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-clip: content-box;
}

.hex0rwindow_visual_others {
    background: #F9F9F9;
    padding: 0;
}

.hex0rwindow_code {
    padding-left: 1px;
}

.hex0rwindow_code_hi {
    /* background: #F4FA58; */
    border-left: 15px;
}

.hex0rwindow_border_start {
    border-left: solid #E0E0E0 1px;
}

.hex0rwindow_border_middle {
    border-bottom: solid #E0E0E0 1px;
    border-top: solid #E0E0E0 1px;
}

.hex0rwindow_border_end {
    border-right: solid #E0E0E0 1px;
    border-top: solid #E0E0E0 1px;
}

.hex0rwindow_highlight_hover:hover {
    /* 设置初始背景颜色 */
    background-color: initial;
}

.hex0rwindow_highlight_hover_visual:hover {
    /* 设置初始背景颜色 */
    background-color: initial;
}