.hexviewerwindow { font-family: monospace; background-color: #ECEBEA;}
div.hexviewerwindow { padding: 20px; }
.hexviewerwindow_table { border-collapse:collapse; border: 5px solid grey; margin-left: 16px; caption-side:bottom; }
.hexviewerwindow_offset {background: #F6B8BD; padding-right: 8px; }
.hexviewerwindow_visual {background: #BFD9EF; padding-left: 8px; }
.hexviewerwindow_code {}
.hexviewerwindow_code_hi {background: #F4FA58; }
.hexviewerwindow_border_start {border-left: solid #E0E0E0 1px; }
.hexviewerwindow_border_middle {border-bottom: solid #E0E0E0 1px; border-top: solid #E0E0E0 1px;}
.hexviewerwindow_border_end {border-right: solid #E0E0E0 1px; border-top: solid #E0E0E0 1px; }
